/*
	main.scss
*/



@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323');

$white:	#FFF;
$black: #000;
$red: 	#F00;
$bg_green: #7FAD71;

$font_headers: 'Press Start 2P', cursive;
$font_body: 'VT323', monospace;


#css-zen-garden {
	background: $bg_green url(images/header_bg.png) repeat-x top center;
	font-family: $font_body;	
}

h1, h2, h3, h4 {
	font-family: $font_headers;
}